* {
  max-width: fit-content;
  margin: 10px auto;
}

button {
  height: 80px;
  min-width: 80px;
  margin: 20px 20px;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  box-shadow: 0 6px lightgray;
}

button:active {
  box-shadow: 0 3px darkgray;
  transform: translateY(3px);
}